.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;

  color: white;
  padding-bottom: 10px;
  width: 100;

  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  margin: 1vw;
  color: rgb(0, 187, 255);
  font-size: 20px;
}
.logo {
  display: flex;
  align-items: center;
}
