.footer {
  color: #fff; /* Text color */
  padding: 20px; /* Padding around content */
  text-align: center; /* Center align text */
  bottom: 0px;
  position: relative;
  width: 100%;

  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}
