.top_section {
  /* background-color: #467ce2de; */
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
  /* background-color: rgb(58, 0, 58); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
}
.bluid {
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
  /* width: 100%; */
  margin: 10vw;
  color: beige;
}
.img_responsive {
  height: 35vw;
}
.home {
  background: #ad5389; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3c1053, #ad5389);
}
hr {
  border: none;
  height: 10px;
  /* Set the hr color */
  color: #1ff9d1; /* old IE */
  background-color: #333; /* Modern Browsers */
}
